body {
  font-family: Arial;
  margin: 0;
  padding: 25px;
  text-align: center;
}

.color-display {
  height: 200px;
  width: 200px;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 8px;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease;
}