.clock-container {
  max-width: 700px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(46, 46, 46);
}

.moto {
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight:100;
  color: rgb(76, 76, 76);
}

.clock {
  margin: 0;
  font-size: 20px;
  font-weight:100;
  color: rgb(76, 76, 76);
}